/* Tailwind Directives : */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Styles */
:root {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-sky-50 flex flex-col justify-center items-center h-screen;
  }
  h1 {
    @apply text-4xl text-center;
  }
  small {
    @apply text-[0.7rem] text-slate-700;
  }
}

@layer components {
  .main {
    @apply transition-opacity duration-[1s] ease-in;
  }
  .logo {
    @apply flex justify-center items-center space-x-6 mb-8;
  }
  .counter {
    @apply bg-gradient-to-r from-indigo-400 to-pink-400
    px-2 py-1 rounded-md text-white text-sm font-mono  border-b-4 border-violet-700 active:border-0 active:translate-y-1 block;
  }
  .title {
    @apply text-sky-900;
  }
}
